*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "outfit", sans-serif;
    scroll-behavior: smooth;
}

body{
    background: #f6f6f6;
}

nav{
    display: flex;
    justify-content: space-between;
    background: white;
    padding:0 150px;
    align-items: center;
}

ul{
    display: flex;
    gap: 30px;
    list-style: none;
    
}
a li{
    cursor: pointer;
    font-weight: 600;
    color: black;
    font-size: 18px;
}

a li:hover{
    color: orange;
}

ul a{
    text-decoration: none;
}

a{
    text-decoration: none;
    color: black;
}

.left{
    display: flex;
    align-items: center;
}

.left h3:hover{
    color: orange;
}

.logo-container{
    width: 80px;
}

.logo-container img{
    width: 100%;

}

.list-items{
    padding: 30px;
}


.hero{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    margin-bottom: 50px;
}

.hero .left{
    width: 50%;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    padding-left: 50px;
    display: flex;
    align-items: start;
}

.hero .right{
    display: flex;
    padding: 50px;
    align-items: center;
    justify-content: center;
}

.left h3{
    font-size: 50px;
    font-weight: 600;

}

.title h3{
    font-size:20px;
}

.left h3 span{
    color: rgb(255, 111, 0);
}

.desc-container{
    width: 600px;
    align-items: center;
    text-align: center;
    text-align: start;
    
}

.desc-container p{
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
}

.left button{
    margin: 30px 0;
    padding:10px 50px;
    border-radius: 9px;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    background: orangered;
    border: none;
    color: white;

}

.left button:hover{
    background: rgb(0, 0, 0);
    color: white;
    border: none;
}

.left button a:hover{
    color: white;
}

.right .bg-img-container{
    margin-top: 30px;
    width: 350px;
    position: relative;
    transition: transform .2s;
}

.bg-img-container img{
    width: 100%;
}

.main-img-container{
    width: 550px;
    position: absolute;
    top: 150px;
    right: 10px;
    transition: bottom 1s , right 2s;
}

.main-img-container img{
    width: 100%;
}

.main-img-container:hover{
    right: 50px;
}

.bg-img-container:hover{
    transform: scale(1.1);
}

.about{
    margin-top: 100px;
    width: 100%;
    text-align: center;
    height: 80vh;
}

.about h1{
    color: orangered;
}

.about span{
    color: green;
    font-weight: 600;
}

.about-container{
    display: flex;
    padding: 50px;
}

.about-img{
    width: 50%;
    padding: 10px;
}

.about-img img{
    border-radius: 12px;
}

.about-dec{
    width: 50%;
    padding: 10px;
    text-align: start;
    font-size: 18px;
    font-weight: 500;
}

.connect{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    gap: 30px;
    margin-top: 20px;
}

.connect .icon-text{
    display: flex;
    gap: 30px;
    align-items: center;
}

.connect .icon-text i{
    font-size: 20px;
    color: rgb(49, 65, 241);
}

.my-skills{
    width: 100%;
}
.my-skills .heading{
    text-align: center;
    margin-top: 30px;
}

.my-skills .heading h1{
    font-size: 30px;
    font-weight: 600px;
    color: orangered;
}

.heading span{
    font-weight: 600;
    color: green;
}

.my-skills .container{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.my-skills .container .skills-section{
    width: 50%;
    padding:20px 50px;
}

.my-skills .container .img-section{
    width: 50%;
    padding: 50px;
}

.container .img-section img{
    border-radius: 12px;
}

.progress-container{
    width: 100%;
    margin-top: 20px;
    align-items: center;
}

.progress-container .title-percetage{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.progress-bar {
    margin-top: 10px;
}

.progress-bar .outer-progress{
    width: 100%;
    height: 10px;
    border: 1px solid red;
    border-radius: 12px;
}

.progress-bar .inner-progress{
    width: 90%;
    height: 10px;
    background: orangered;
    border-radius: 12px;
    box-shadow: 0px 2px 4px rgba(4, 4, 4, 0.1), 
            0px 8px 16px rgba(0, 0, 0, 0.1);
}


.css .inner-progress{
    width: 80%;
    background: orangered;
}

.js .inner-progress{
    width: 80%;
    background: orangered;
}

.react .inner-progress{
    width: 70%;
    background: orangered;
}

.node .inner-progress{
    width: 70%;
    background: orangered;
}

.express .inner-progress{
    width: 65%;
    background: orangered;
}

.mongo .inner-progress{
    width: 70%;
    background: orangered;
}

.contact .heading{
    text-align: center;
}

.contact .heading h1{
    color: orangered;
}

.contact-section{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-icons{
    display: flex;
    gap: 50px;
    padding: 50px;

}

.icon {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 15px;
    transition: all 1s ease-in-out;
}

.icon i{
    font-size: 40px;
    transition: all 1s ease-in-out;
}

.icon:hover{
    background-image: linear-gradient(to bottom right,red,yellow);
}

.icon:hover i{
    color: white;
    animation: shake 1s infinite;
}


@keyframes shake{
    10%{
        transform: rotate(15deg);
    }20%{
        transform: rotate(-15deg);
    }30%{
        transform: rotate(15deg);
    }40%{
        transform: rotate(-15deg);
    }
}
/* 
.fa-whatsapp:hover{
    color: rgb(0, 255, 0);
    transform: scale(1.5);
}
.fa-facebook:hover{
    color: rgb(69, 113, 234); */
    /* transform: scale(1.5);
}

.fa-twitter:hover{
    color: rgb(32, 78, 206);
    transform: scale(1.5);
}

.fa-github:hover{
    color: rgb(98, 0, 111);
    transform: scale(1.5);
}

.fa-linkedin:hover{
    color: rgb(46, 0, 210);
    transform: scale(1.5);
} */

.to-top{
    width: 130px;
    padding: 10px;
    background: orangered;
    color: white;
    font-size: 16px;
    display: flex;
    border-radius: 50px; 
    gap: 10px;
    align-items: center;
    cursor: pointer;
    position: fixed;
    bottom: 50px;
    right: 20px;
    transition: all 0.5s ease-in-out;
}

.to-top:hover{
    background: #000;
}

footer{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

hr{
    width: 80%;
    color: red;
    margin-bottom: 20px;
}